body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../img/flower.jpg);
    margin: 50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;

}
.container {
    text-align: center;
    background-color:rgb(245, 179, 229);
    padding: 40px;
    border-radius: 8px;

}
button {
    padding: 10px;
    margin-top: 10px;
}

h2{
    margin-top: 20px;
}
